@import url('https://fonts.cdnfonts.com/css/heathergreen');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: rgb(202,225,246);
    background: linear-gradient(0deg, rgba(118,158,210,1) 10%, rgba(91,140,198,1) 25%, rgba(73,128,190,1) 45%, rgba(67,124,187,1) 60%);
}

.clouds {
    position: fixed;
    inset: 0;
    z-index: -1;
}

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%;
    }
}

.sm-cloud {
	-webkit-animation: animateCloud 40s linear infinite;
	-moz-animation: animateCloud 40s linear infinite;
	animation: animateCloud 40s linear infinite;
}

.md-cloud {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
}

.lg-cloud {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
}

#btnLogOut, #btnScroll {
    background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
}

.navbar {
    height: 5em;
}

.img {
    width: 5em;
    height: 5em;
}

.img:hover {
    content: url('../assets/botoes/logout_depois.png');
}

.card {
    background-color: transparent;
    width: 33.5em;
}

.card-content {
    top: 2.5em;
}

.visible, .invisible {
    position: absolute;
    top: 8em;
}

#btnScroll {
    position: relative;
    top: 24em
}

h1 {
    color: rgba(255, 237, 199, 1);
    font-family: 'Heathergreen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5em;
    line-height: 0;
    letter-spacing: 0.11em;
    margin-top: 0;
}

#card-info {
    width: 16.5em;
}

p {
    color: rgba(255, 237, 199, 1);
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
}


@media (max-width: 576px) {
    .img {
        width: 4em;
        height: 4em;
    }

    h1 {
        font-size: 4.5em;
    }

    p {
        font-size: 1.2em;
    }

}

@media (min-width: 1550px) {
    .lg-cloud {
        position: relative;
        top: 5em;
    }

    .card {
        width: 45em;
    }


    h1 {
        font-size: 6.5em;
    }

    #card-info {
    margin-top: 2.5em;
    width: 20em;
    }

    p {
        font-size: 1.6em;
    }

    #btnScroll {
        margin-top: 10em;
    }
}
