@import url('https://fonts.cdnfonts.com/css/heathergreen');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


body {
    background: rgb(202,225,246);
    background: linear-gradient(0deg, rgba(118,158,210,1) 10%, rgba(91,140,198,1) 25%, rgba(73,128,190,1) 45%, rgba(67,124,187,1) 60%);
}

.clouds {
    position: fixed;
    inset: 0;
    z-index: -1;
}

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

.sm-cloud {
	-webkit-animation: animateCloud 40s linear infinite;
	-moz-animation: animateCloud 40s linear infinite;
	animation: animateCloud 40s linear infinite;
}

.md-cloud {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
}

.lg-cloud {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
}

#btnReturn, #btnSave {
    background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
}

.img {
    width: 5em;
    height: 5em;
}

.img:hover {
    content: url('../assets/seta_depois.png');
}

.card {
    background: transparent;
}

.card-body {
    position: relative;
    transform: translateY(-34em);
}


h1 {
    color: rgba(255, 237, 199, 1);
    font-family: 'Heathergreen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4em;
    line-height: 0;
    letter-spacing: 0.11em;
    top: 2em;
}

p, .username {
    color: rgba(255, 237, 199, 1);
    font-family: 'Futura PT', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.btnAction {
    width: 10em;
    height: 2em;
    background-color: rgba(255, 237, 199, 1);
    border: none;
    border-radius: 0.5em;
    margin-bottom: 1em;
    font-family: 'Futura PT', sans-serif;
    font-weight: 500;
    font-size: 22px;
}


span {
    font-family: 'Heathergreen';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 43px;
    letter-spacing: 0.11em;
    color: #FFEDC7;
}

@media (max-width: 576px) {
    .img {
        width: 4em;
        height: 4em;
    }

    h1 {
        font-size: 3.5em;
    }

    .card-body {
        transform: translateY(-30em);
    }


    p, .username {
        font-size: 20px;
    }

    .btnAction {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    body {
        overflow: auto;
    }
}
  

