html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: rgb(202,225,246);
    background: linear-gradient(0deg, rgba(202,225,246,1) 25%, rgba(197,221,244,1) 35%, rgba(183,209,238,1) 50%, rgba(159,190,227,1) 70%, rgba(125,164,213,1) 95%, rgba(118,158,210,1) 100%);
}

@media (max-width: 1600px) {
    #bottom-image {
        max-width: 85%;
        max-height: 85%;
    }
}

