@import url('https://fonts.cdnfonts.com/css/heathergreen');

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: rgb(202,225,246);
    background: linear-gradient(0deg, rgba(202,225,246,1) 25%, rgba(197,221,244,1) 35%, rgba(183,209,238,1) 50%, rgba(159,190,227,1) 70%, rgba(125,164,213,1) 95%, rgba(118,158,210,1) 100%);
}

.navbar {
    height: 5em;
}

.img {
    width: 5em;
    height: 5em;
}

.img:hover {
    content: url('../assets/botoes/logout_depois.png');
}

button {
    background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
    position: relative;
    display: inline-block;
    text-align: center;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 16px;
    font-family: 'Heathergreen';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 43px;
    letter-spacing: 0.11em;
    color: #FFEDC7;
}

@media (max-width: 576px) {
    img {
        width: 60%;
    }

    .button-text {
        font-size: 3em;
    }

    .img {
        width: 4em;
        height: 4em;
    }
}

@media (min-width: 576px) and (max-width: 1549px){
    img {
        width: 80%;
    }

    .button-text {
        font-size: 4em;
    }
}


@media (min-width: 1550px) {
    .button-text {
        font-size: 5em;
    }

    #portaMain {
        max-width: 90%;
        max-height: 90%;
    }
}

