@import url('https://fonts.cdnfonts.com/css/heathergreen');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: rgb(202,225,246);
    background: linear-gradient(0deg, rgba(118,158,210,1) 10%, rgba(91,140,198,1) 25%, rgba(73,128,190,1) 45%, rgba(67,124,187,1) 60%);
}

.clouds {
    position: fixed;
    inset: 0;
    z-index: -1;
}

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%;
    }
}

.sm-cloud {
	-webkit-animation: animateCloud 40s linear infinite;
	-moz-animation: animateCloud 40s linear infinite;
	animation: animateCloud 40s linear infinite;
}

.md-cloud {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
}

.lg-cloud {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
}

#btnReturn {
    background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
}

.img {
    width: 5em;
    height: 5em;
}

.card {
    margin-top: 50px;
    background-color: transparent;
    width: 33.5em;
}

.card-content {
    top: 5.5em;
}

h1 {
    color: rgba(255, 237, 199, 1);
    font-family: 'Heathergreen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5em;
    line-height: 0;
    letter-spacing: 0.11em;
}

#btnChange {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: rgba(66, 126, 186, 1);
    position: relative;
    right: 1.5em;
}

p {
    color: rgba(255, 237, 199, 1);
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
}

.borderless tr, .borderless td {
    border: none;
    color: rgba(255, 237, 199, 1);
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
}

.borderless td {
    height: 3.5em;
    width: 2em;
}

#btnPass {
    background-color: rgba(255, 237, 199, 1);
    border: none;
    border-radius: 20px;
    font-family: 'Futura-Medium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    white-space: normal;
    width: 215px;
}

@media (max-width: 576px) {
    .img {
        width: 4em;
        height: 4em;
    }

    h1 {
        font-size: 4.5em;
    }

    .borderless td {
        height: 2em;
    }
}

@media (min-width: 1550px) {
    .lg-cloud {
        position: relative;
        top: 5em;
    }

    .card {
        width: 45em;
    }

    .card-content {
        top: 6.5em;
    }

    h1 {
        font-size: 6.5em;
    }

    p {
        margin-left: 2.5em;;
        font-size: 1.6em;
    }

    table {
        margin-top: 5em;
        width: 30em;
    }

    .borderless tr, .borderless td {
        font-size: 1.6em;
    }

    #btnPass {
        font-size: 1.3em;
        width: 12em;
    }
}